<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task List</title>
</head>
<body>
    <h4><a href='http://127.0.0.1:8000/'>Назад</a></h4>
    <form method="POST">
        {% csrf_token %}
        <label>
            <input type="text" {{ forms.title }}>
            <input type="text" {{ forms.description }}>
            <p>Статус: {{ form.completed}} </p>
        </label>

        <br><button type="submit">Добавить</button>
    </form>

</body>
</html>

