<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task List</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/add/">Добавить задачу</a>
    {% for tsk in tasks %}
        <h4>{{ tsk.title }}</h4>
        <span>{{ tsk.description }}</span>
        <a href="{% url 'edit_task' tsk.id %}" >Редактировать задачу</a>
    <form>
        {% csrf_token %}
        <label>
            <input type="checkbox" disabled {% if task.completed %} checked {% endif %}>
        </label>
    </form>
    {% endfor %}
</body>
</html>