<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body><br>
    <a href ='http://127.0.0.1:8000/add'>Добавить задачу</a><br>
    <form method="post">
        {% csrf_token %}
        {% for t in tsk %}
        <a href ="{% url 'edit' t.id %}">
            <p>{{t.title}},{{t.description}}:<input type="checkbox" disabled {% if t.completed %} checked {% endif %}/></p>
        </a>
        {% endfor %}
    </form>
</body>
</html>